[submodule "ros2_ws/src/micro_ros_setup"]
	path = ros2_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = humble
[submodule "ros2_ws/src/arduino/lib/Xsens_MTi_I2C"]
	path = ros2_ws/src/arduino/lib/Xsens_MTi_I2C
	url = https://github.com/ASME-BUR/Xsens_MTi_I2C.git
[submodule "ros2_ws/src/uros/micro_ros_msgs"]
	path = ros2_ws/src/uros/micro_ros_msgs
	url = https://github.com/micro-ROS/micro_ros_msgs.git
	branch = humble
[submodule "ros2_ws/src/uros/micro-ROS-Agent"]
	path = ros2_ws/src/uros/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = humble
[submodule "arduino_thruster/.pio/libdeps/dueUSB/micro_ros_platformio"]
	path = arduino_thruster/.pio/libdeps/dueUSB/micro_ros_platformio
	url = https://github.com/micro-ROS/micro_ros_platformio
[submodule "ESKF"]
	path = ros2_ws/src/bur_auv/eskf
	url = https://github.com/ASME-BUR/eskf.git
	branch = humble
[submodule "ros2_ws/src/ros2_usb_camera"]
	path = ros2_ws/src/ros2_usb_camera
	url = https://github.com/klintan/ros2_usb_camera.git
[submodule "ros2_ws/src/bur_rov/bur_rov_msgs"]
	path = ros2_ws/src/bur_rov/bur_rov_msgs
	url = https://github.com/ASME-BUR/bur_rov_msgs.git
[submodule "ros2_ws/src/bur_auv/orca4"]
	path = ros2_ws/src/submodules/orca4
	url = https://github.com/clydemcqueen/orca4
[submodule "ros2_ws/src/bur_auv/ros2_shared"]
	path = ros2_ws/src/submodules/ros2_shared
	url = https://github.com/ptrmu/ros2_shared
